
<body>
    <h1 align="center"><i>Employee Management</i></h1>
    <br>
    <br>

    <div class="div1">
        <form>
            <br><br>

            <div>
            <label> <label class="red-text">*</label> Email : </label>
            <span><input type="text" name="email" [(ngModel)]="email" required></span>
            </div>

            <br><br>

            <div>
            <label> <label class="red-text">*</label> Password: </label>
            <span><input type="password" name="password" [(ngModel)]="password" required></span>
            </div>

            <br><br><br><br>

            <button class="btn btn-custom right" type="submit" (click)=logIn()>Log-in</button>
            <br>
            <br>
        
        </form>
    </div>
    <br><br><br><br>
    <br><br><br><br>
</body> 

